<%@db = add_db%>
<%res = @db.execute('select * from Blog order by date desc')%>
<%res.each do |post|%>
<br>
<div class="media">
  <img src=".\resources\richard.jpg" class="mr-3" alt="...">
  <div class="media-body">
   <h6><span class="badge badge-secondary"><%=post['date']%></span></h6> <h5 class="mt-0"><%=post['topic']%></h5>
    <%=post['body']%>
  </div>
  <a class="btn btn-outline-secondary" href="/comment/<%=post['id']%>" role="button" aria-controls="multiCollapseExample1">Залишити коментар</a>
 </span></h6>
</div>
<hr>
<%end%>
