<form action="/newpost" method="POST">
 
   <div class="form-group">
<br>
<h3>Історії мого життя</h3>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Назва посту" name="topic">
  </div>
  <div class="form-group">

   <input type="text" class="form-control" id="datetimepicker" placeholder="Приблизний час" name="topic">
  </div>
  <div class="form-group">
    
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Напиши про мене саме бажане" name="body"></textarea>
  </div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
  <div><center><label for="exampleFormControlFile1">Додай фоточку</label></center> <div class="form-group">
    
    <input type="file" class="btn btn-dark" id="exampleFormControlFile1" name="photo">
  </div>

  <div>
    <button type="submit" class="btn btn-dark">#  Зберегти та опублікувати розповідь </button>
  </div></div>
  

</div>
</form>
<script type="text/javascript">
  
$(function (){
  jQuery.datetimepicker.setLocale('uk');
  $('#datetimepicker').datetimepicker();

    
  });

</script>
  